<!DOCTYPE html>
<html>
<head>
  <title>Stereo Drive</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "profile", :media => "all" %>
  <%= stylesheet_link_tag    "simple-sidebar", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "xeditable"%>  
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places" %>
   <%= csrf_meta_tags %>
</head>
<body style = "padding-top: 50px; align:center; background-size:cover; background-repeat: no-repeat; background-image:url(http://s28.postimg.org/ubezx8whp/Stereo_Drive_BG.png)">
<nav class='navbar-inverse navbar-fixed-top' role='navigation'>
    <div class='container'>
        <div class='navbar-header'>
            <button aria-controls='navbar' aria-expanded='false' class='navbar-toggle collapsed' data-target='#navbar' data-toggle='collapse' type='button'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class="navbar-brand" href="/app/1">StereoDrive</a>
        </div>
        <div class='navbar-collapse collapse' id='navbar'>
            <ul class='nav navbar-nav navbar-right'>
            	<% if @current_user.nil? %>
			<li><%= link_to "Login", '/auth/facebook', class:'navbar-link', method: 'get' %></li> 
		<% else %>
			<li class="navbar-link"><%= link_to "Logout", logout_path, method: 'delete' %></li> 
		<% end %>	
	    </ul>
        </div>
    </div>
</nav>
<%= yield %>



</body>
</html>
